/* ============================================================

  Home page Hero Slider

============================================================ */

.hero {
  width: 100%;
  background: url(../img/hero_sm.jpg) no-repeat center center;
  background-size: cover;
  font-size: .6em;
  
  .hero-items {
    list-style: none;
    margin: 0 auto;
    padding: ($logo-height + $vspacing * 2) $vspacing 0 $vspacing;
    width: 100%;
    height: 100%;
    max-width: $grid-total;
    
    li {
      display: block;
      position: relative;
      text-align: center;
      
      h2 {
        font-size: 3em;
        font-weight: 600;
        text-transform: uppercase;
        color: #fff;
        background: $colour-red;
        display: inline;
        letter-spacing: -.05em;
        
        box-shadow: 15px 0 0 $colour-red, -15px 0 0 $colour-red;
        line-height: 1.35em;
      }
      
      a {

        font-size: 3em;
        font-weight: 200;
        letter-spacing: -1px;
        text-decoration: none;
        line-height: 1em;

        color: rgba(255,255,255,.8);
        
        display: block;
        padding: $vspacing/2 0 $vspacing*2 0;
        background: none;
        position: relative;
        
        strong {
          text-transform: uppercase;
        }

        &:hover {
          color: #fff;
          padding-top: $vspacing;
          
          &:after {
            bottom: $vspacing/4;
          }
        }
        
        &:after {
          content: '';
          position: absolute;
          width: 10px;
          height: 40px;
          background: url(../img/ico_hero-arrow.png) no-repeat 0 50%;
          background-size: 10px auto;
          
          bottom: $vspacing/2;
          left: 50%;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);

          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;    
        }
      }
    }
  }
  
  .hero-control {
    display: none;
  }
}

@media only screen and (min-width: $break-mini) { 
  .hero-items {
    li {
      width: 60%;
      margin: auto;
    }
  }
}

@media only screen and (min-width: $break-small) { 
  .hero {
    background-image: url(../img/hero_md.jpg);
    font-size: .7em;
  }
}

@media only screen and (min-width: $break-medium) { 
  .hero {
    background-image: url(../img/hero_md.jpg);    
    height: 340px;
    font-size: .85em;
    
    .hero-items {
      padding: ($logo-height + $vspacing * 2) 0 0 0;
      
      li {             
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 100%;
      
        & > div {
          width: 50%;
          float: left;
          padding-left: 15px;
          text-align: left;
        }
        
        a {
          float: right;
          text-align: right;
          background: url(../img/ico_hero-arrow.png) no-repeat 98% 65%;
          padding: 0;
          padding-right: $vspacing * 1.75;
          
          &:hover {
            color: #fff;
            background-position: 100% 65% !important;
            padding: 0;
            padding-right: $vspacing * 2;
          }
          
          &:after {
            display: none;
          }
        }
      }
    }
  }
}
  
@media only screen and (min-width: $break-medium) and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  .hero .hero-items li a {
    background: url(../img/ico_hero-arrow_@2x.png) no-repeat 98% 65%;
    background-size: 16px auto;
  }
} 
  
@media only screen and (min-width: $break-large) { 
  .hero {
    height: 480px;    
    font-size: 1em;
    
    .hero-items {

    }
  }
}

@media only screen and (min-width: $break-huge) {
  .hero {
    background-image: url(../img/hero_lg.jpg)
  }
}