.site-content {
  max-width: $grid-total;
  @include clearfix();
  margin: 0 auto;
  padding-top: $vspacing;
  
  h2 {
    font-size: 2.2em;
    margin-bottom: $vspacing;
    line-height: 1em;
  }
}

@media only screen and (min-width: $break-tiny) {

}
@media only screen and (min-width: $break-mini) {

}
@media only screen and (min-width: $break-small) {

}
@media only screen and (min-width: $break-medium) {

}
@media only screen and (min-width: $break-large) {

}
@media only screen and (min-width: $break-huge) {

}