/* ============================================================

  Primary Navigation

============================================================ */

.main-navigation {
  display: block;
  float: left;

  ul {
    list-style: none;
    padding: 0 $vspacing;
    margin: 0;
    overflow: hidden;
    
    li {
      float: left;
      padding: 0 $vspacing / 1.5;
      line-height: 84px;
      
      a {
        font-size: 1.5em;
        color: #fff;
        text-decoration: none;
        font-weight: 200;
        text-transform: uppercase;
        float: left;
        
        &:hover {
          color: #fff !important;
          -webkit-transform: scale(1.1);
          text-shadow: none !important;
          text-shadow: 0 5px 3px #000;
        }
      }
    }
    
    &:hover li a {
      color: transparent;
      text-shadow: 0 0 3px #fff, 0 0 10px #fff;
    }
  } 
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}

@media screen and (max-width: $break-small) {
  .main-navigation {
    float: right;
    margin: $vspacing 0 0 $vspacing;
  }
  
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    text-indent: 100%;
    background: url(../img/ico_pulltab.png) no-repeat 50% 50%;

  }

  .main-navigation ul {
    display: none;
  }
}