/* ============================================================

  Global Settings and Variables

============================================================ */

$base-font: 'Source Sans Pro';
$header-font: $base-font;

/* Global colours */
$colour-red: #e1110d;
$colour-black: #221f1f;
$colour-white: #fff;
$colour-gray: #666;
$colour-facebook: #3b5998;
$colour-twitter: #00acee;
$colour-youtube: #c4302b;

/* Media Query Breakpoints */
$break-tiny: 320px;
$break-mini: 480px;
$break-small: 768px;
$break-medium: 1024px;
$break-large: 1140px;
$break-huge: 1280px;

@media only screen and (min-width: $break-tiny) { }
@media only screen and (min-width: $break-mini) { }
@media only screen and (min-width: $break-small) { }
@media only screen and (min-width: $break-medium) { }
@media only screen and (min-width: $break-large) { }
@media only screen and (min-width: $break-huge) { }

/* Grid */
$grid-total: 976px;
$grid-third: 312px;
$vspacing: 20px;
$gutter: 2px;