/* ============================================================

  Primary Navigation

============================================================ */

.widget {
  float: left;
  padding: $vspacing $vspacing $vspacing 0;
}

/* widget classes
----------------------------------------------- */


/* home page grid
----------------------------------------------- */
#page-home {
  .widget-classes   { width: 33% }
  .widget-videos    { width: 33% }
  .widget-location  { width: 33%; margin-right: 0 }
  .widget-blog      { width: 66%; margin-right: 0 }
  
}